# Ignore chung
*.iml
.gradle
/local.properties
/.idea/
/.DS_Store
/build/
/captures/
/.externalNativeBuild/
/.cxx/
local.properties

# Ignore toàn bộ thư mục build
/app/build/

# Nhưng cho phép file APK debug
!/app/build/outputs/
!/app/build/outputs/apk/
!/app/build/outputs/apk/debug/
!/app/build/outputs/apk/debug/app-debug.apk

